.link {
  position: relative;
  cursor: pointer;
  display: inline-block;

  &::after {
    content: '';
    transform: scaleX(0);
    transform-origin: left;
  }

  @include media-hover {
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: rem(-4px);
      background-color: currentColor;
      width: 100%;
      height: rem(2px);
      transition: $transition;
      transition-property: transform;
      transform: scaleX(1);
    }
  }

  &_semibold {
    font-weight: 500;
  }
}
