.link {
	color: var(--, #364a46);
	font-family: Rubik;
	font-size: rem(18px);
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	position: relative;

	@include media-hover {
		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: rem(-4px);
			background-color: #364a46;
			width: 100%;
			height: rem(2px);
		}
	}

	&_semibold {
		font-weight: 500;
	}
}
