.link {
  position: relative;
  cursor: pointer;
  display: inline-block;

  &::after {
    content: '';
    display: block;

    position: absolute;
    bottom: rem(-4px);

    background-color: currentColor;

    width: 100%;
    height: rem(2px);
    border-radius: rem(2px);

    transform: scaleX(0);
    transform-origin: left;
    transition: $transition;
    transition-property: transform;
  }

  @media #{media('>',t)} and (hover: hover) and (pointer: fine) {
    &:hover::after {
      transform: scaleX(1);
    }
  }

  &_semibold {
    font-weight: 500;
  }
}
