.platform-button {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;

  cursor: pointer;

  width: rem(399px);

  aspect-ratio: 1;
  border-radius: 100%;
  border: rem(2px) solid #f0f0f0;

  transition: $transition;

  @media #{media('<',d)} {
    width: rem(240px);
  }

  @media #{media('<',m)} {
    width: rem(104px);
  }

  @media #{media('>',t)} and (hover: hover) and (pointer: fine) {
    &:hover {
      box-shadow: inset 0 0 0 rem(12px) var(--accent, #f0f0f0);
      border: none;
    }
  }

  svg {
    fill: var(--accent, #f0f0f0);
    width: rem(66px);

    @media #{media('<',d)} {
      width: rem(28px);
    }
  }

  &_youtube {
    --accent: #f00;
  }

  &_vk {
    --accent: #07f;
  }

  &_odnoklassniki {
    --accent: #f7931e;
  }
}
