mixin location-showcase(mods)
  -
    const baseName = 'location-showcase'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  section.location-showcase(class=allMods)&attributes(attributes)
    +location-card("<h5>Офис</h5>", "194044, Санкт-петербург, Беловодский переулок, 6", "пн-пт: 9–17:30", "_green")
    +location-card("<h5>Производство</h5>", "194044, Санкт-Петербург, пер. Зеленков, 6, лит. А, корп. 1, пом. 11", "пн-пт: 9–17:30", "_blue")
    img(
      class='col-span-3 row-span-2 h-full w-full rounded-3xl border-solid border-double border-[#F0F0F0] object-cover d:rounded-xl'
    )(
      src='../../../public/images/map.png',
      alt='Карта Санкт-Петербурга с отмеченными железнодорожными вокзалами — Московский, Витебский, Финляндский и Ладожский, а также с иконками достопримечательностей и локаций в центре города'
    )
