.ui-input {
  position: relative;
  transition: $transition;

  input:focus ~ label,
  input.filled ~ label {
    transform: translateY(-1em);
    opacity: 0.5;
    visibility: visible;
  }

  input:focus::placeholder,
  input.filled::placeholder {
    visibility: hidden;
  }

  label {
    position: absolute;
    top: rem(28px);
    left: rem(20px);
    transform: translateY(0) scale(1);
    transform-origin: left center;
    color: #364a46;
    opacity: 0;

    font-family: Rubik;
    font-size: rem(14px);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    transition: $transition;

    visibility: hidden;

    padding: 0 4px;

    @media #{media('<',d)} {
      display: none;
    }
  }

  &__error {
    margin-block: rem(6px);
    color: #e40e20;
    font-family: Rubik;
    font-size: rem(14px);
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    &:empty {
      margin-block: 0;
    }
  }
}
