.breadcrumbs {
  display: inline-flex;
  align-items: center;
  gap: rem(31px);
  font-size: rem(16px);
  font-family: TT Firs Neue;
  font-style: normal;
  font-weight: 600;
  line-height: 90%; /* 14.4px */
  text-transform: uppercase;

  @media #{media('<',d)} {
    gap: rem(12px);
  }

  svg {
    stroke: currentColor;
    transform: translateY(rem(-1px));
  }

  &__item {
    position: relative;

    display: inline-flex;
    white-space: nowrap;
    color: #575757;
  }

  &__link {
    display: inline-flex;
    gap: rem(8px);
    cursor: pointer;
    align-items: center;
    transition: $transition;

    @media #{media('>',t)} and (hover: hover) and (pointer: fine) {
      &:hover {
        color: #0a8;
      }
    }
  }

  &__text {
    display: inline-flex;
    gap: rem(8px);
    color: #0a8;
    align-items: center;
  }
}
