@use 'sass:map';

:root {
  --primary: #dd5799;
  --primary-hover: #c7397f;
  --primary1: teal;
  --pink: #ffc0cb;
  --accent: #f0f0f0;

  --text: #364a46;

  // fonts
  --font: 'Rubik', 'Arial', sans-serif;
  --font-secondary: 'TT Firs Neue', 'Arial', sans-serif;
  --black: #0c0c0c;
  // colors
  --background1: #f2f2f2;

  --accent-green: #0a8;
  --accent-blue: #0097d4;
}

// fonts
$text: var(--text);
$font: var(--font);
$font-secondary: var(--font-secondary);
// colors
$background1: var(--background1);
$black: var(--black);
$primary: var(--primary);
$primary-hover: var(--primary-hover);
$primary1: var(--primary1);
$pink: var(--pink);
$accent: var(--accent);
$colors: (
  black: #000000
);

@function color($variant: black) {
  @return map.get($colors, $variant);
}

// media
$mediaWidthLaptop: 1340px;
$mediaWidthTablet: 767px;
$mediaWidthMobile: 320px;
