.button {
  display: inline;
  padding-block: rem(25px);
  padding-inline: rem(24px);
  background-color: $primary;
  border-radius: rem(16px);

  font-size: rem(14px);
  font-family: Rubik;
  color: #fff;
  font-weight: 500;
  text-transform: none;

  transition: $transition;

  &:hover {
    background-color: $primary-hover;
  }

  & > *:not(:last-child) {
    margin-right: rem(16px);
  }

  @media #{media('<',m)} {
    padding-block: rem(14px);
    padding-inline: rem(12px);
    border-radius: rem(8px);

    & > *:not(:last-child) {
      margin-right: rem(8px);
    }
  }

  svg {
    width: rem(24px);
    height: rem(24px);
    margin-top: rem(-2px);
  }
}
