// button for text or icon + text
// second padding variant is text-padding, may rename to "bloated-padding" or "cushion"

.button {
  display: inline-flex;
  padding: 0;
  background-color: $primary;
  border-radius: rem(16px);
  align-items: center;
  vertical-align: middle;
  justify-content: center;

  cursor: pointer;

  font-size: rem(18px);
  font-family: $font;
  color: #fff;
  font-weight: 500;
  text-transform: none;
  line-height: normal;

  padding: rem(25px) rem(24px);

  transition: $transition;

  @media #{media('<',d)} {
    border-radius: rem(8px);
    font-size: rem(12px);
    padding: rem(14px) rem(12px);

    &_primary {
      gap: rem(8px);
    }

    &_px32 {
      padding-inline: rem(12px);
    }

    svg {
      width: rem(16px);
      height: rem(16px);
    }
  }

  &_full {
    width: 100%;
  }

  &_primary {
    gap: rem(16px);
    padding: rem(25px) rem(24px);

    @media #{media('>',t)} and (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: $primary-hover;
      }
    }
  }

  &_px-32 {
    padding-inline: rem(32px);

    @media #{media('<',d)} {
      padding-inline: rem(24px);
      padding-block: rem(16px);
    }
  }

  &_padding-small {
    padding: rem(25px) rem(24px);

    @media #{media('<',d)} {
      padding: rem(14px) rem(12px);
    }
  }

  &_secondary {
    background: #f3f3f3;
    color: #364a46;
    padding: rem(25px);

    @media #{media('>',t)} and (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: #364a46;
        color: #fff;
      }
    }

    svg {
      width: rem(24px);
      height: rem(24px);

      @media #{media('<',d)} {
        width: rem(16px);
        height: rem(16px);
      }

      @media #{media('<',xs)} {
        padding: rem(14px);
      }
    }
  }

  &_square {
    aspect-ratio: 1 / 1;
  }

  svg {
    width: rem(24px);
    height: rem(24px);
  }
}
