.footer {
  column-gap: rem(24px);
  position: relative;
  overflow: hidden;
  margin-top: rem(148px);

  color: #364a46;

  @media #{media('<',d)} {
    margin-top: rem(48px);
  }

  @media #{media('<',m)} {
  }

  &__shape {
    position: absolute;

    bottom: 0;
    right: rem(-250px);

    @media #{media('<',d)} {
      transform: scale(0.485);
      left: rem(12px);
      transform-origin: bottom left;
    }

    @media #{media('<',m)} {
      left: rem(-12px);
      transform: scale(0.8);
    }
  }

  &__head {
    position: relative;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    padding-inline: rem(24px);

    padding-block: rem(80px) rem(49px);
    background-color: #f3f3f3;

    @media #{media('<',d)} {
      grid-template-columns: 2fr 1fr 1fr;
      padding-block: rem(32px) rem(36px);

      border-radius: rem(24px);
    }

    @media #{media('<',m)} {
      grid-template-columns: repeat(2, 1fr);

      padding-inline: rem(12px);
    }
  }

  &__bottom {
    grid-column-end: span 4;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    padding-inline: rem(24px);
    grid-template-rows: 2;

    @media #{media('<',d)} {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      padding-inline: 0;
      justify-items: left;
      margin-top: rem(36px);

      gap: rem(8px);
    }

    @media #{media('<',m)} {
      grid-column-end: span 2;
      margin-top: rem(21px);
    }
  }

  &__logo-and-mascot {
    grid-column-start: 1;

    display: flex;
    flex-direction: column;

    justify-self: center;

    @media #{media('<',d)} {
      grid-column-start: 3;
      margin-bottom: rem(26px);
    }

    @media #{media('<',m)} {
      grid-column-start: 2;
    }
  }

  &__contacts-and-socials {
    grid-column-start: 3;
    display: flex;
    flex-direction: column;

    @media #{media('<',d)} {
      grid-column-start: 2;
      grid-row-start: 1;
    }

    @media #{media('<',m)} {
      grid-column-start: 1;
      grid-row-start: 2;
    }
  }

  &__lone-socials {
    grid-column-start: 1;
    grid-row-start: 2;
    z-index: 1;

    display: inline-grid;
    grid-auto-flow: column;
    gap: rem(8px);
    justify-content: start;
    display: none;

    margin-top: rem(10px);

    @media #{media('<',d)} {
      gap: rem(4px);

      display: inline-grid;
    }

    @media #{media('<',m)} {
      grid-column-start: 1;
      grid-row-start: 3;
      grid-column-end: span 2;

      margin-top: rem(39px);
    }
  }

  &__logo {
    height: rem(32px);
    svg {
      fill: #364a46;
      width: 100%;
      height: 100%;
    }

    @media #{media('<',d)} {
      display: none;
    }
  }

  &__mascot {
    margin-block: rem(60px);

    img {
      width: rem(134px);
    }

    @media #{media('<',d)} {
      display: flex;
      justify-content: flex-end;

      transform: translateX(rem(10px));

      margin-block: unset;
      align-items: flex-start;
      margin-right: rem(18px);
      img {
        width: rem(80px);
      }
    }
  }

  &__copyright {
    grid-column-start: 1;

    font-family: $font;
    font-size: rem(14px);
    font-style: normal;
    font-weight: 300;
    line-height: 120%; /* 16.8px */
    color: hsl(168, 15.63%, 25.1%);
    opacity: 0.7;

    @media #{media('<',d)} {
      font-size: rem(12px);

      grid-row-start: 2;
    }
  }

  &__navigation {
    grid-column-start: 2;

    @media #{media('<',d)} {
      grid-column-start: 1;
      grid-row-start: 1;
    }

    & > ul > li {
      color: $text;

      font-family: var($font-secondary, 'TT Firs Neue');
      font-size: rem(40px);
      font-style: normal;
      font-weight: 600;
      line-height: 90%; /* 36px */
      letter-spacing: rem(-0.8px);

      @media #{media('<',d)} {
        color: $text;
        font-family: 'TT Firs Neue';
        font-size: rem(24px);
        font-style: normal;
        font-weight: 600;
        line-height: 90%; /* 21.6px */
        letter-spacing: rem(-0.48px);
      }
    }

    & > ul > li:not(:first-child) {
      margin-top: rem(24px);
      @media #{media('<',d)} {
        margin-top: rem(12px);
      }
    }
  }

  &__policy {
    grid-column-start: 2;
    grid-column-end: span 2;
    justify-self: start;

    @media #{media('<',d)} {
      grid-column-start: 1;
      grid-row-start: 1;

      font-size: rem(12px);
    }

    & a {
      color: $text;

      font-family: $font;
      font-size: rem(16px);
      font-style: normal;
      font-weight: 300;
      line-height: 120%; /* 19.2px */

      @media #{media('<',d)} {
        color: var(--, #364a46);
        font-size: rem(12px);
        font-style: normal;
        font-weight: 300;
        line-height: 120%; /* 14.4px */
      }
    }
  }

  &__contacts {
    color: $text;

    font-family: var('TT Firs Neue', 'Arial', sans-serif);
    font-size: rem(24px);
    font-style: normal;
    font-weight: 600;
    line-height: 90%; /* 21.6px */
    letter-spacing: rem(-0.48px);

    & > ul > li:not(:first-child) {
      margin-top: rem(12px);
    }

    @media #{media('<',d)} {
      font-size: rem(16px);
      letter-spacing: rem(-0.32px);
    }

    @media #{media('<',m)} {
      margin-top: 0;
    }
  }

  &__socials {
    display: inline-grid;
    grid-auto-flow: column;
    gap: rem(8px);
    justify-content: start;
    z-index: 1;

    margin-top: rem(86px);

    @media #{media('<',d)} {
      gap: rem(4px);
      margin-top: rem(36px);
      display: none;
    }

    @media #{media('<',m)} {
      margin-top: rem(39px);
    }
  }

  &__action-call {
    grid-column-start: 4;
    justify-self: center;
    z-index: 1;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    @media #{media('<',d)} {
      grid-column-start: 3;

      margin-top: 0;
    }

    @media #{media('<',m)} {
      grid-column-start: 2;
      grid-row-start: 2;
    }
  }

  &__made-in {
    grid-column-start: 4;
    z-index: 1;

    display: flex;
    justify-content: flex-end;

    color: $text;

    font-family: $font;
    font-size: rem(16px);
    font-style: normal;
    font-weight: 300;
    line-height: 120%; /* 19.2px */

    @media #{media('<',d)} {
      grid-column-start: 1;
      grid-row-start: 3;

      font-size: rem(12px);
    }

    @media #{media('<',m)} {
      justify-content: flex-start;
      padding-bottom: 0;
    }

    & > * {
      flex-basis: rem(218px);
    }
  }

  &__social-box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: rem(74px);
    height: rem(74px);
    padding: rem(20px);
    border: solid rem(2px) #ececec;
    border-radius: rem(16px);

    background-color: #fff;

    transition: $transition;

    @media #{media('<',d)} {
      width: rem(48px);
      height: rem(48px);
      padding: rem(12px);
    }

    svg {
      fill: #364a46;
    }

    @media #{media('>',t)} and (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: #364a46;
        svg {
          fill: #fff;
        }
      }
    }

    &:active {
      background-color: #4e635f;
    }
  }

  &__disclaimer {
    grid-area: disclaimer;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: rem(45px);
    padding-bottom: rem(48px);
    margin-inline: rem(-24px);

    background-color: #fff;

    color: rgba(0, 0, 0, 0.15);
    text-align: center;
    font-family: $font;
    font-size: rem(37px);
    font-style: normal;
    font-weight: 300;
    line-height: 120%; /* 44.4px */
    letter-spacing: rem(-1.48px);

    @media #{media('<',d)} {
      padding-block: rem(24px);
      font-size: rem(15px);
      letter-spacing: rem(-0.6px);
      & p {
        width: rem(351px);
      }
    }
  }
}
