mixin big-social-button(mods)
  -
    const baseName = 'big-social-button'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }
  //FIXME: слишком длинное название
  //FIXME: дожлжно быть ссылкой
  .big-social-button(class=allMods)&attributes(attributes)
    block
