-
header.header
	.header__burger-menu
		+icon-button("_primary")
			+burger
	.header__logo
		+logo
	.header__buttons
		+button("_primary, _text-padding-s")
			+more
			span Продукция
		+icon-button
			+search
		+icon-button
			+phone
	.header__navigation
		a(href='#', class='link') О компании
		a(href='#', class='link') Новости
		a(href='#', class='link') Где купить
		a(href='#', class='link') Контакты
	.header__contact
		a(href='#', class='link link_semibold') 8 812 448-54-65
		+button("_secondary, _text-padding") Стать партнером
