-
header.header
  .header__burger-menu
    //FIXME: исправить ссылку на кнопку
    +icon-button("_primary")(href='#')
      +burger
  a.header__logo(href='/')
    +logo
  .header__buttons
    //FIXME: убрать лишний класс
    +button("_primary, _text-padding-s")(href='#')
      +more
      span Продукция
    +icon-button(href='#')
      //FIXME: поправить ховер кнопки
      +search
    +icon-button(href='#')
      +phone
  nav.header__navigation
    a(href='#', class='link') О компании
    a(href='#', class='link') Новости
    a(href='#', class='link') Где купить
    a(href='#', class='link') Контакты
  .header__contact
    address
      //FIXME: как мне позвонить?
      a(href='#', class='link link_semibold') 8 812 448-54-65
      //FIXME: поправить ховер кнопки
    +button("_secondary, _text-padding")(href='#') Стать партнером
