-
header.header
  .header__burger-menu
    +icon-button("_primary")(href='#')
      +burger
  a.header__logo(href='/')
    +logo
  .header__buttons
    +button("_primary, _px-32")(href='#')
      +more
      span Продукция
    +icon-button(href='#')
      +search
    +icon-button(href='#')
      +phone
  nav.header__navigation
    a(href='#', class='link') О компании
    a(href='#', class='link') Новости
    a(href='#', class='link') Где купить
    a(href='#', class='link') Контакты
  .header__contact
    address
      a(href='tel:88124485465', class='link link_semibold') 8 812 448-54-6
    +button("_secondary, _px32")(href='#') Стать партнером
