.header {
  // --_primary: var(--primary, #364a46);

  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 1fr;
  gap: rem(24px);
  align-items: center;
  overflow: hidden;
  margin-inline: rem(24px);

  padding: rem(8px);

  border: rem(2px) solid #f0f0f0;
  border-radius: rem(20px);

  box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(12px);

  @media #{media('<',d)} {
    margin-inline: rem(12px);
  }

  & > * {
    grid-column-end: span 3;

    @media #{media('<',d)} {
      grid-column-end: span 1;
    }
  }

  &__burger-menu {
    display: none;

    @media #{media('<', m)} {
      display: inline-flex;
    }
  }

  &__logo {
    display: flex;
    grid-column-start: 1;
    padding-left: rem(24px);
    pointer-events: none;

    svg {
      height: rem(32px);
      pointer-events: auto;
      fill: #00aa88;
      width: fit-content;
    }

    @media #{media('<',d)} {
      padding-left: rem(8px);
      svg {
        height: rem(18px);
      }
    }

    @media #{media('<',m)} {
      border-radius: rem(12px);
      grid-column-start: 2;
      grid-column-end: span 2;
      align-items: flex-start;
      padding: 0;
    }
  }

  &__buttons {
    display: flex;
    gap: rem(8px);
    grid-column-start: 4;

    & > :last-child {
      display: none;
    }

    @media #{media('<',d)} {
      grid-column-start: 3;
      grid-column-end: span 2;
      justify-content: flex-end;
      & > :last-child {
        display: inline-flex;
      }
    }

    @media #{media('<',m)} {
      grid-column-start: 4;
      grid-column-end: span 1;
    }
  }

  &__navigation {
    grid-column-start: 8;
    grid-column-end: span 4;
    overflow-x: visible;
    white-space: nowrap;
    display: flex;
    gap: rem(32px);

    color: var(--_primary, #364a46);
    font-family: Rubik;
    font-size: rem(18px);
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    @media #{media('<',d)} {
      display: none;
    }
  }

  &__contact {
    grid-column-start: 12;
    grid-column-end: -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: rem(60px);

    @media #{media('<',d)} {
      display: none;
    }
  }
  @media #{media('<',d)} {
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
  }

  @media #{media('<',m)} {
    &__buttons > *:last-child,
    &__buttons > *:first-child {
      display: none;
    }
  }

  & address {
    color: var(--_primary, #364a46);
    text-align: right;
    font-family: Rubik;
    font-size: rem(18px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
